<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398335265551-smufbshc0jt7bn9eor42dj7augs0n61n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398335265551-smufbshc0jt7bn9eor42dj7augs0n61n</string>
	<key>API_KEY</key>
	<string>AIzaSyArKOzyVUpiJlhqHqB7uyngLKYhrvnZpH0</string>
	<key>GCM_SENDER_ID</key>
	<string>398335265551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>diplomado.FesANews</string>
	<key>PROJECT_ID</key>
	<string>fesanews</string>
	<key>STORAGE_BUCKET</key>
	<string>fesanews.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398335265551:ios:b11f8703c8f1b364</string>
	<key>DATABASE_URL</key>
	<string>https://fesanews.firebaseio.com</string>
</dict>
</plist>